html {
	height: 100%;
}

body{
	font: 400 30px/1.4 "Segoe UI", Arial, Helvetica, sans-serif;
	background-color: #FFF;
}

.ba-header {
	background-color:  #23232e;
	text-align: center;
	padding-top: 100px;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 940px;
}

.ba-img {
	width: 134px;
	height: 134px;
}

.ba-title {
	color:  #ffffff;
	font-size: 80px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 185px;
}

.ba-file {
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	margin-top: 64px;
	margin-bottom: 185px;
}

.ba-hreh {
	width: 41px;
	height: 41px;
	margin-bottom: 50px;
}

main {
	background-image: url(../img/bg.jpg);
	margin-top: 125px;
}

.ba-article {
	color:  #464b4f;
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;

}

.ba-section {
	font-size: 0;
}

.ba-tit {
	color:  #464b4f;
	font-size: 80px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 100px;
}

.ba-text {
	display: inline-block;
	width: 33%;
	padding-right: 34px;
	font-size: 18px;
	float: left;
}

.ba-h {
	color:  #464b4f;
	font-size: 18px;
	font-weight: 700;
	line-height: 42px;
	text-align: left;
	display: inline-block;
}

.ba-tul {
	color:  #888a8b;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	display: inline-block;
	margin-bottom: 123px;
}


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
